.customer-table-wrapper {
  width: 968px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  padding: 30px 38px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.customer-table-info-container {
  display: flex;
}

.customer-table-info-text {
  margin-right: 340px;
}

.customer-table-title {
  font-weight: 600;
  font-size: 22px;
}

.customer-table-text {
  font-weight: 400;
  font-size: 14px;
  color: #16c098;
}

.customer-table-search-input {
  border-radius: 12px;
  width: 216px;
  height: 38px;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  border: none;
  padding-left: 40px;
  background: url('../../images/search.png') no-repeat 10px center; /* Іконка лупи */
  background-size: 24px;
  margin-right: 10px;
}

.customer-table-select {
  appearance: none;
  border-radius: 10px;
  width: 154px;
  height: 38px;
  background: #f9fbff;
  border: none;
  padding: 10px;
}

.customer-table-select:focus {
  outline: none;
}

.customer-table-wrapper > table {
  width: 100%;
  background-color: #ffffff;
}

th,
td {
  padding: 24px 0;
  text-align: left;
}

th {
  color: #292d32;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
}

thead > tr > td {
  color: #b5b7c0;
}

td {
  color: #292d32;
  font-size: 14px;
  vertical-align: middle;
}

tr {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

tr::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

.customer-active {
  border: 1px solid #00b087;
  border-radius: 4px;
  padding: 4px 12px;
  width: 80px;
  height: 29px;
  color: #008767;
  background: rgba(22, 192, 152, 0.38);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.customer-inactive {
  border: 1px solid #df0404;
  border-radius: 4px;
  padding: 4px 10px;
  background: #ffc5c5;
  color: #df0404;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Стилі пагінації */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background-color: #f5f5f5;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination .active-page {
  background-color: #5932ea;
  color: white;
}

.status-field {
  display: flex;
  align-items: center;
  height: 69px;
}
